* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;
  height: 70px;
}
header .headContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 10px;
}
header .headContainer .croseText nav .menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  z-index: 1;
  width: 60%;
  padding: 25px;
}
header .headContainer .croseText nav .menu .headIcons i {
  color: white;
}
header .headContainer .croseText nav .menu li a {
  color: white;
}
header .headContainer .croseText nav #burgerBtn {
  display: none;
}
header .headContainer .croseText nav ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
}
header .headContainer .croseText nav ul li a {
  color: black;
  text-decoration: none;
}

@media (max-width: 800px) {
  header .headContainer .croseText nav ul {
    display: none;
  }
  header .headContainer .croseText nav #burgerBtn {
    display: block;
  }
}
.wellTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.wellTxt p {
  width: 70%;
}

.wellDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.wellDiv .wellImg img {
  width: 100%;
  height: auto;
}
.wellDiv .wellText button {
  padding: 10px;
  border: none;
  color: gray;
  font-weight: 600;
}

#products {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#products .box {
  margin-top: 25px;
  position: relative;
}
#products .box .boxDiv {
  box-shadow: 0 0 8px black;
}
#products .box .boxDiv img {
  width: 100%;
  height: auto;
}
#products .box .boxDiv .boxText {
  margin-top: 10px;
  padding: 25px;
}
#products .box .boxDiv .boxText .twoBtn #wish {
  position: absolute;
  top: 0;
  right: 18px;
  padding: 7px;
  border-radius: 50px;
  border: none;
}
#products .box .boxDiv .boxText .twoBtn #wish:hover i {
  color: red;
}

.load {
  display: flex;
  justify-content: end;
  margin-top: 25px;
}

footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}
footer .end {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#list .box {
  margin-top: 25px;
  position: relative;
}
#list .box .boxDiv {
  box-shadow: 0 0 8px black;
}
#list .box .boxDiv img {
  width: 100%;
  height: auto;
}
#list .box .boxDiv .boxText {
  margin-top: 10px;
  padding: 25px;
}
#list .box .boxDiv .boxText .twoBtn #add {
  padding: 10px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
#list .box .boxDiv .boxText .twoBtn #add:hover {
  background-color: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wish {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#wish .box {
  margin-top: 25px;
  position: relative;
}
#wish .box .boxDiv {
  box-shadow: 0 0 8px black;
}
#wish .box .boxDiv img {
  width: 100%;
  height: auto;
}
#wish .box .boxDiv .boxText {
  margin-top: 10px;
  padding: 25px;
}
#wish .box .boxDiv .boxText .twoBtn {
  display: flex;
  justify-content: center;
}
#wish .box .boxDiv .boxText .twoBtn #wish {
  padding: 10px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#backImage {
  background-image: url("https://media.istockphoto.com/id/1169630303/photo/blue-textured-background.webp?b=1&s=170667a&w=0&k=20&c=tI2xFhXqXFqMM0IvxSYY3F7LIwv450h2ch3yD-lZ9HU=");
  width: 100%;
  min-height: 600px;
  background-size: cover;
}
#backImage .formDiv {
  background-color: white;
  width: 100%;
  height: 70vh;
  box-shadow: 0 0 10px 3px gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#backImage .formDiv #form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#backImage .formDiv #form .formInput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
#backImage .formDiv #form .formInput .oneInp {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
#backImage .formDiv #form .formInput .oneInp input {
  padding: 10px;
  width: 50%;
}
#backImage .formDiv #form .formInput .oneInp label {
  display: flex;
  justify-content: start;
}

#newProducts {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#newProducts .box {
  margin-top: 25px;
  position: relative;
}
#newProducts .box .boxDiv {
  box-shadow: 0 0 8px black;
}
#newProducts .box .boxDiv img {
  width: 100%;
  height: auto;
}
#newProducts .box .boxDiv .boxText {
  margin-top: 10px;
  padding: 25px;
}
#newProducts .box .boxDiv .boxText .twoBtn #delete {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
}

table {
  width: 80%;
  margin: 30px auto;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

td {
  overflow: hidden;
}
td .photo {
  width: 350px;
}